<h1>My Bookings</h1>
<% @bookings.each do |booking| %>
  <li>
  <%= link_to booking.garden.title, garden_booking_path(booking,current_user) %> //
  <%  booker = User.where(id: booking.booker_id).first.email %>
  <p> Booker : <%= booker %></p>
  <% owner_id = Garden.where(id: booking.garden_id).last.user_id %>
  <p> Owner : <%= owner = User.where(id: owner_id).last.email %></p>
  </li>
<% end %>

</ul>
  <li><%= link_to "My Account", my_account_path %></li>
  <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <li><%= link_to "home", root_path %></li>
  <% if current_user.admin == false %>
  <% end %>
