<h1>My Account</h1>

  <li><%= link_to "My Bookings", my_bookings_path %></li>
  <li><%= link_to "My gardens published", my_gardens_path %></li>
  <li><%= link_to "Change my identifiers", edit_user_registration_path %></li></br>
  <li><%= link_to "HOME", root_path %></li>
  <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
