<%= render "shared/navbar" %>

<!-- NAVBAR END -->


<div class="container index-container mt-5 d-flex flex-column">
  <div class="row index-title-row d-flex flex-column ">
    <h1>Gardens around you</h1>
    <% if current_user.admin == true %>
      <b><%= "ADMIN STATUS" %></b>
    <% else %>
      <b><%= "USER STATUS" %></b>
    <% end %>
  </div>

  <div class="row index-cards-container ">
    <div class="cards col-md-8
    flex-row">
      <% @gardens.each do |garden| %>

        <div class="card border border-white rounded shadow-lg p-3 mb-5 mr-0 bg-white">
            <img class="card-img-top" src="https://www.telegraph.co.uk/content/dam/gardening/2016/10/07/trees_trans_NvBQzQNjv4BqgsaO8O78rhmZrDxTlQBjdGLvJF5WfpqnBZShRL_tOZw.jpg?imwidth=1240" alt="Card image cap">
          <div class="card-body pb-0 text-dark">
            <h5><%= garden.title %></h5>
            <p> Status :
              <% if garden.availabilities == false %>
                <%= 'unavailable :(' %>
              <% else %>
               <%= "available :)" %>
              <% end %>
            </p>
            <button type="button" class="btn btn-primary shadow-lg mt-5px"><%= link_to "see details", garden_path(garden) %></button>
          </div>
        </div>
      <% end %>
          </div>
        <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.346,48.8595,11.72,0,0/600x1000?access_token=pk.eyJ1IjoianVsaWVicm9zc2UiLCJhIjoiY2p2bWVzOTBoMThkMDQ5czJ1cnl6d3g4NiJ9.iObbDJ4n4tOjspS41cvsSg' style="width: 30%">
  </div>
</div>
