<h1>index</h1>
<ul>
  <li>  <% @gardens.each do |garden| %>
    <ul>
      <li><%= garden.title %> //
        <%= garden.user.email %> //
        <%= link_to "edit", edit_garden_path(garden) %>
        <%= link_to "delete", delete_garden_path(garden), method: :delete %>
      </li>
    </ul>
  <% end %>
  <li><%= link_to "Add New Garden", new_garden_path %></li>
</ul>
