<h1>My gardens</h1>
<ul>
    <% @gardens.each do |garden| %>
    <li><%= link_to "#{garden.title}", garden_path(garden) %> //
    <%= garden.user.email %>
  </li>
  <% end %>

</ul>
<li><%= link_to "HOME", root_path %></li>
  <% if policy(Garden).create? %>
    <li><%= link_to "New Garden", new_garden_path %></li>
  <% end %>
  <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% if current_user.admin == false %>
  <% end %>

