<h1>My Garden</h1>
<ul>
<li>Title : <%= @garden.title  %></li>
<li>Address : <%= @garden.address %></li>
<li>Details : <%= @garden.details %></li>
<li>Surface : <%= @garden.surface %></li>
<li><%= link_to "My gardens", gardens_path %> //
<%= link_to "Delete" %> //
<%= link_to "Edit" %></li>
</ul>
