<h1>My Garden</h1>
<ul>
  <li>Title : <%= @garden.title  %></li>
  <li>Address : <%= @garden.address %></li>
  <li>Details : <%= @garden.details %></li>
  <li>Surface : <%= @garden.surface %></li>
  <p> Here will appear the availabilities to select</p>
    <% if policy(@garden).destroy? %>
      <li><%= link_to "Delete" %> //
    <% end %>
    <% if policy(@garden).edit? %>
      <%= link_to "Edit" %></li>
    <% end %>
  <li><%= link_to "home", gardens_path %></li>
  <li><%= link_to "My gardens", my_gardens_path %></li>
  <li><%= link_to "Book the Garden", new_garden_booking_path(@garden) %></li>
</ul>
